---
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/galeria";
import AudioComponent from "../components/Audio";
import InfoComponent from "../components/Info";
---

<Layout title="Influencia africana en la musica y la danza en cartagena">
  <section class="w-full flex flex-col justify-center items-center">
    <h1 class="text-4xl font-playfair w-full md:w-[70%] text-center">
      La influencia africana en la musica y la danza en cartagena
    </h1>
    <p class="text-sm mt-2 text-center font-playfairRegular">
      Sumérgete en la tradición caribeña a través de videos, audios y más.
    </p>

    <div class="mt-10 w-full mx-auto">
      <iframe
        width="100%"
        height="400"
        src="https://www.youtube.com/embed/61gcoS_5sMQ?si=Vg_rN8MSgEjLS-5j"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
        class="rounded-xl"></iframe>
    </div>
  </section>
  <Gallery client:load />
  <AudioComponent client:load />
  <InfoComponent client:load />
</Layout>
