---
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/galeria";
import AudioComponent from "../components/Audio";
import InfoComponent from "../components/Info";
---

<Layout title="Influencia africana en la musica y la danza en cartagena">
  <section class="w-full flex flex-col justify-center items-center">
    <h1 class="text-4xl font-playfair w-full md:w-[70%] text-center">
      La influencia africana en la musica y la danza en cartagena
    </h1>
    <p class="text-sm mt-2 text-center font-playfairRegular">
      Sumérgete en la tradición caribeña a través de videos, audios y más.
    </p>

    <button
      style={{
        backgroundImage:
          "linear-gradient(180deg, #4f3f66 0%, #3b2e5f 25%, #1f1f59 50%, #001253 75%, #00004e 100%)",
      }}
      class="py-2 px-4 rounded-xl mt-2 mb-1">Descargar Documento</button
    >
    <video
      src="/baile.mp4"
      controls
      poster="/poster.jpg"
      class="mt-4 rounded-xl w-full"
    >
      Tu navegador no admite el elemento <code>video</code>.
    </video>
  </section>
  <Gallery client:load />
  <AudioComponent client:load />
  <InfoComponent client:load />
</Layout>
