---
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/galeria";
import InfoComponent from "../components/Info";
import AudioPlayer from "../components/AudioDeFonde";
import AudioPlayerVoz from "../components/Voz";
import VideosComponent from "../components/Videos";

const images = ["/1.jpg", "/2.jpg", "/3.jpg", "/4.jpg", "/5.jpg"];
---

<Layout title="Influencia africana en la musica y la danza en cartagena">
  <section
    class="w-full flex flex-col justify-center items-center mt-5 md:mt-10"
  >
    <h1
      class="text-4xl flex items-center md:text-6xl font-playfair w-full md:w-full text-center font-bold"
    >
      La influencia africana en la musica y la danza Cartagenera
    </h1>
    <p class="text-lg text-center font-bold mt-2">
      Sumérgete en la tradición caribeña a través de videos, audios y más.
    </p>

    <section class="w-full flex flex-col justify-center items-center">
      <img class="w-full object-cover rounded-xl" src="/imagen.png" alt="" />
    </section>
  </section>

  <section class="w-full mt-14 md:mt-20 mb-20">
    <h5 class="text-3xl md:text-5xl w-full text-center mb-10">
      Explora con IA
    </h5>
    <section class="flex flex-col md:flex-row">
      <div class="w-full md:w-[50%] flex flex-col justify-center items-center">
        <a
          target="_blank"
          class="border-2 bg-white border-white px-4 py-4 rounded-xl text-black hover:bg-slate-100 hover:text-black hover:border-slate-100 hover:transition-all text-xl md:text-2xl"
          href="https://chatgpt.com/"
        >
          ¿Tienes alguna pregunta?
        </a>
        <p
          class="font-playfair mt-5 text-center text-white text-xl md:text-2xl"
        >
          Pregunta lo que quieras sobre la cultura cartagenera, la música y la
          danza. Nuestra IA responderá tus inquietudes.
        </p>
      </div>

      <div class="w-full md:w-[50%] flex flex-col justify-center items-center">
        <img
          class="w-[400px]"
          src="/videoAvatar1.gif"
          alt="videoAvatar"
          class="rounded-xl"
        />
        <AudioPlayerVoz src={"/voz.mp3"} client:load />
      </div>
    </section>
  </section>
  <AudioPlayer client:load />
  <Gallery
    title={"Galería de Imágenes"}
    subtitle={"Explora la belleza visual de nuestros bailes folclóricos."}
    description={"Una serie de imágenes sobre el tema La influencia africana en la músicy la danza en Cartagena podría capturar escenas que reflejan la ricaherencia cultural africana en esta región de Colombia."}
    images={images}
    client:load
  />
  <VideosComponent client:load />
  <InfoComponent client:load />
</Layout>
