---
import HeaderComponent from "../components/Header";
import FooterComponent from "../components/Footer";
import "../styles/index.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="landing page para mostrar videos, fotos y audio del tema La influencia africana en la musica y la danza en Cartagena."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <HeaderComponent client:load />
  <body>
    <main class="font-playfair">
      <slot />
    </main>
  </body>
  <FooterComponent client:load />

  <style is:global>
    :root {
      background-image: linear-gradient(
        to right,
        #ffe800,
        #ffbe00,
        #ff9429,
        #ff6945,
        #ff3f5d,
        #fa296e,
        #f0117f,
        #e20091,
        #df00a3,
        #d900b7,
        #cd00cc,
        #bb00e3
      );
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      scrollbar-width: thin;
    }
    html {
      font-family: system-ui, sans-serif;
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }

    main {
      margin: auto;
      padding: 1rem;
      width: 850px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }
  </style>


</html>
